# Database URI to store data
MONGODB_URI

# For Authentication
JWT_SECRET

# For Caching Database Results
UPSTASH_URL
UPSTASH_TOKEN

# For Showing Gifs 
NEXT_PUBLIC_GIPHY_KEY

# For Sending emails to clients
QCORE_EMAIL
APP_PASSWORD

# For sending email to parlocula admin
CREATOR_EMAIL

NEXT_PUBLIC_PARLOCULA_URL

# For real time messaging and notifications
ABLY_API_KEY

# For storing sessions and rate limiting
REDIS_USERNAME
REDIS_PASSWORD
REDIS_HOST
REDIS_PORT

# For media storage authentication
QCORE_CLOUD_AUTH_KEY
QCORE_CLOUD_URI

# For job scheduling
QSTASH_URL
QSTASH_TOKEN
QSTASH_CURRENT_SIGNING_KEY
QSTASH_NEXT_SIGNING_KEY