.inputSections {
  padding: 2rem 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputSections > :where(h2) {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 8px;
}

.inputSections > p {
  color: gray;
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}

.inputCont {
  margin: 40px 0;
}

.inputSections > ul {
  width: 100%;
}

.listOptions {
  width: 40%;
  padding: 0.8rem 1rem;
  margin: 1rem auto;
  list-style: none;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: var(--globalRadius);
  cursor: pointer;
  text-align: center;
  transition: border-color 500ms;
}

.listOptions.active {
  box-shadow: 0 0 0 3px var(--secondary);
}
