* {
  box-sizing: border-box !important;
}

.patternBackground {
  position: absolute;
  inset: 0;
  background-image: url("/pattern.svg");
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.8;
  z-index: 0;
}

html.light .patternBackground {
  opacity: 0.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-montserrat),
    system-ui,
    -apple-system,
    sans-serif;
}

:where(h2, h3, h4, h5, h6):where(.parloHeading) {
  font-size: 0.875rem !important;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 600 !important;
}

*::selection {
  background-color: var(--primaryText);
  color: var(--primary);
}

.noScroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  appearance: auto;
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 25px;
}

html {
  scrollbar-gutter: stable;
}

body {
  height: 100dvh;
  max-height: fit-content;
  overscroll-behavior-y: contain;
  color-scheme: light dark;
  background-color: var(--primary);
  font-family:
    var(--font-roboto),
    system-ui,
    -apple-system,
    sans-serif;
  transition:
    background-color 500ms ease,
    color 500ms ease;
  color: var(--primaryText);
}

body:has(.preventScrolling) {
  overflow: hidden;
}

main {
  min-height: 100dvh;
  max-height: fit-content;
}

main:not(.fullScreen) > *:not(.fullScreen) {
  max-width: 768px;
  margin-inline: auto;
}

body:has(#sidebar) main {
  width: stretch;
  margin-left: var(--sidebarWidth);
}

main.noPadding {
  --paddingBottom: 0px;
}

main:not(.noPadding) {
  padding-bottom: var(--paddingBottom);
}

button:not(.customStyling) {
  display: flex;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: border-color 500ms;
  text-wrap: nowrap;
}

button:focus-visible {
  outline: 1px solid var(--primaryText);
}

button:is(.bigBtn, .primary, .secondary),
a.btn {
  display: flex;
  height: 40px;
  line-height: 1rem;
  padding-inline: 1.2rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: var(--borderWidth) solid transparent;
  border-radius: var(--globalRadius);
  white-space: nowrap;
}

button.primary,
a.btn.primary {
  background-color: var(--secondary);
  color: var(--secondary-text);
  transition:
    background-color 500ms ease,
    color 500ms ease;
}

button.secondary,
a.btn.secondary {
  border-color: var(--secondary);
  transition: border-color 500ms ease;
}

img,
svg {
  aspect-ratio: 1;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

button.disable {
  color: gray;
  border-color: var(--gray20);
  cursor: not-allowed;
}

.skeletonPulse {
  background: var(--primarylight);
}

@media screen and (width<640px) {
  body:has(#sidebar) {
    --paddingBottom: 4.5rem;
  }

  :root {
    --sidebarWidth: 0;
  }
}

@media screen and (width<=500px) {
  button:where(.primary, .secondary, .bigBtn) {
    padding-inline: 0.6em;
  }
}